<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8ba70d81-a374-4666-a636-cb524a338e12" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8ba70d81-a374-4666-a636-cb524a338e12fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
