<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4111eb83-f2b9-47dd-872a-0a5429d548d2" name="Git_Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4111eb83-f2b9-47dd-872a-0a5429d548d2fileName">Git_Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
